s-agentos-kernel/workflows/s-agentos-command-gateway.json
{
  "name": "S-AgentOS Command Gateway v0.2.0",
  "nodes": [
    {"id":"41922a57-72e3-49e0-bddc-bfe087337022","name":"Webhook — Command Entry","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,200],"webhookId":"s-agentos-command","parameters":{"httpMethod":"POST","path":"s-agentos-command","responseMode":"responseNode","options":{}},"credentials":{"httpBasicAuth":{"name":"Command Gateway Auth"}}},
    {"id":"ebd94add-a998-4e1f-80f2-6275cc451da2","name":"Code — Extract & Validate Auth","type":"n8n-nodes-base.code","typeVersion":2,"position":[250,400],"parameters":{"mode":"runOnceForAllItems","jsCode":"const incoming = $input.first().json || {};\nconst headers = incoming.headers || {};\nconst body = incoming.body || {};\n\nfunction getHeader(name) {\n  const target = String(name).toLowerCase();\n  for (const [key, value] of Object.entries(headers)) {\n    if (String(key).toLowerCase() === target) {\n      return Array.isArray(value) ? value[0] : value;\n    }\n  }\n  return '';\n}\n\nconst authHeader = String(getHeader('authorization') || '');\nconst bearerToken = authHeader.replace(/^Bearer\\s+/i, '').trim();\nconst xAgentOSKey = String(getHeader('x-agentos-key') || '').trim();\n\nconst expectedKey = process.env.S_AGENTOS_OPERATOR_KEY || process.env.S_AGENTOS_API_TOKEN || '';\nconst providedToken = xAgentOSKey || bearerToken;\nconst isValid = Boolean(expectedKey && providedToken && providedToken === expectedKey);\n\nreturn [{\n  json: {\n    ...incoming,\n    body,\n    headers,\n    isValid,\n    auth_method: xAgentOSKey ? 'x-agentos-key' : (bearerToken ? 'bearer' : 'missing'),\n    token: providedToken ? '[REDACTED]' : 'missing'\n  }\n}];"}},
    {"id":"e6c477cb-26fd-4fae-94a3-0710cd8c3269","name":"IF — Auth Check","type":"n8n-nodes-base.if","typeVersion":2,"position":[250,600],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"10a4c19c-e46f-4638-a7dd-3e0c36601672","leftValue":"={{ $json.isValid }}","rightValue":true,"operator":{"type":"boolean","operation":"equals","singleValue":true}}]},"combinator":"and"}},
    {"id":"b5c8f618-116d-4854-a7f2-c51a8ac9b977","name":"Code — Build Auth Error Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[550,700],"parameters":{"mode":"runOnceForAllItems","jsCode":"return [{ json: { ok: false, error: 'Unauthorized', message: 'Invalid or missing Bearer token', code: 401 } }];"}},
    {"id":"8fdcd1bc-90df-415f-a0aa-4d819f88f317","name":"Respond to Webhook — Auth Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[550,850],"parameters":{"options":{"responseCode":401},"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"}},
    {"id":"d1d7c1e1-f325-4505-b0eb-1ed5d87cb5f8","name":"Code — Extract & Validate Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[250,800],"parameters":{"mode":"runOnceForAllItems","jsCode":"const incoming = $input.first().json || {};\nconst body = incoming.body || {};\nconst errors = [];\n\nconst allowedPriorities = ['low', 'normal', 'medium', 'high', 'urgent', 'critical'];\nconst allowedRunModes = ['draft', 'dry_run', 'read_only', 'live'];\n\nif (!body.action || typeof body.action !== 'string') {\n  errors.push('Missing or invalid \"action\" field');\n}\n\nif (!body.objective || typeof body.objective !== 'string' || body.objective.trim() === '') {\n  errors.push('Missing or invalid \"objective\" field (required, non-empty string)');\n}\n\nif (body.priority && !allowedPriorities.includes(body.priority)) {\n  errors.push(`Invalid \"priority\" value. Allowed: ${allowedPriorities.join(', ')}`);\n}\n\nif (body.run_mode && !allowedRunModes.includes(body.run_mode)) {\n  errors.push(`Invalid \"run_mode\" value. Allowed: ${allowedRunModes.join(', ')}`);\n}\n\nconst isValid = errors.length === 0;\n\nreturn [{\n  json: {\n    ...incoming,\n    isValid,\n    errors,\n    body\n  }\n}];"}},
    {"id":"0589a2f1-280a-4392-9af5-3236b5d912e9","name":"IF — Validation Check","type":"n8n-nodes-base.if","typeVersion":2,"position":[250,1000],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"d0b7b243-2c34-4cf7-9bc5-18b491735e7d","leftValue":"={{ $json.isValid }}","rightValue":true,"operator":{"type":"boolean","operation":"equals","singleValue":true}}]},"combinator":"and"}},
    {"id":"23ebd06b-6226-4f34-9029-da7e43b5bd1a","name":"Code — Build Validation Error Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[550,1100],"parameters":{"mode":"runOnceForAllItems","jsCode":"const errors = $input.first().json.errors || [];\nreturn [{ json: { ok: false, error: 'Validation Failed', message: errors.join('; '), code: 400 } }];"}},
    {"id":"606ed303-dbf6-4146-9dff-cc900dab91ce","name":"Respond to Webhook — Validation Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[550,1250],"parameters":{"options":{"responseCode":400},"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"}},
    {"id":"df89bcbc-f8a0-47e1-84e1-0b1ba0467ec4","name":"Code — Normalize Command","type":"n8n-nodes-base.code","typeVersion":2,"position":[250,1200],"parameters":{"mode":"runOnceForAllItems","jsCode":"const body = $input.first().json.body || {};\nconst ts = Date.now();\nconst rand = () => Math.random().toString(36).substring(2, 8);\nconst command_id = body.command_id || ('cmd_' + ts + '_' + rand());\nconst trace_id = body.trace_id || ('trace_' + ts + '_' + rand());\nconst idempotency_key = body.idempotency_key || null;\nconst normalized = {\n  command_id,\n  trace_id,\n  idempotency_key,\n  action: body.action || 'unknown',\n  objective: body.objective || '',\n  requested_by: body.requested_by || 'operator',\n  priority: body.priority || 'normal',\n  agent_id: body.agent_id || null,\n  run_mode: body.run_mode || 'draft',\n  approval_status: body.approval_status || 'not_required',\n  context: body.context || {},\n  metadata: body.metadata || {},\n  status: 'received',\n  response: null,\n  received_at: new Date().toISOString(),\n  kernel_version: '0.2.0'\n};\nreturn [{ json: normalized }];"}},
    {"id":"4e7a9d7c-1d4f-4312-9a9e-d5e0d0e8db05","name":"Supabase — Log Command to os_commands","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[250,1400],"credentials":{"supabaseApi":{"name":"Supabase API"}},"parameters":{"tableId":"os_commands","operation":"insert","fieldsUi":{"fieldValues":[{"fieldId":"command_id","fieldValue":"={{ $('Code — Normalize Command').first().json.command_id }}"},{"fieldId":"action","fieldValue":"={{ $('Code — Normalize Command').first().json.action }}"},{"fieldId":"objective","fieldValue":"={{ $('Code — Normalize Command').first().json.objective }}"},{"fieldId":"requested_by","fieldValue":"={{ $('Code — Normalize Command').first().json.requested_by }}"},{"fieldId":"priority","fieldValue":"={{ $('Code — Normalize Command').first().json.priority }}"},{"fieldId":"agent_id","fieldValue":"={{ $('Code — Normalize Command').first().json.agent_id }}"},{"fieldId":"run_mode","fieldValue":"={{ $('Code — Normalize Command').first().json.run_mode }}"},{"fieldId":"context","fieldValue":"={{ JSON.stringify($('Code — Normalize Command').first().json.context) }}"},{"fieldId":"status","fieldValue":"received"},{"fieldId":"metadata","fieldValue":"={{ JSON.stringify($('Code — Normalize Command').first().json.metadata) }}"},{"fieldId":"received_at","fieldValue":"={{ $('Code — Normalize Command').first().json.received_at }}"},{"fieldId":"kernel_version","fieldValue":"0.2.0"}]},"additionalFields":{}}},
    {"id":"aeca22e2-77ed-4e5b-87ff-a073d2b2c018","name":"Supabase — Log Command Received Event to os_events","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[250,1600],"credentials":{"supabaseApi":{"name":"Supabase API"}},"parameters":{"tableId":"os_events","operation":"insert","fieldsUi":{"fieldValues":[{"fieldId":"event_type","fieldValue":"command_received"},{"fieldId":"source","fieldValue":"command_gateway"},{"fieldId":"severity","fieldValue":"info"},{"fieldId":"command_id","fieldValue":"={{ $('Code — Normalize Command').first().json.command_id }}"},{"fieldId":"payload","fieldValue":"={{ JSON.stringify($('Code — Normalize Command').first().json) }}"},{"fieldId":"metadata","fieldValue":"{\"kernel_version\": \"0.2.0\"}"}]},"additionalFields":{}}},
    {"id":"03cccbd6-477d-4137-b1aa-884163b8be71","name":"Code — Restore Context for Routing","type":"n8n-nodes-base.code","typeVersion":2,"position":[250,1800],"parameters":{"mode":"runOnceForAllItems","jsCode":"const cmd = $('Code — Normalize Command').first().json;\nreturn [{ json: cmd }];"}},
    {"id":"ff4a7805-034e-491c-9526-50c999795b14","name":"Switch — Route by Action","type":"n8n-nodes-base.switch","typeVersion":2.1,"position":[250,2000],"parameters":{"rules":{"rules":[{"value":"health_check","output":0,"conditions":[{"id":"4ef48fdd-292a-4638-8238-03653d2cfe5c","leftValue":"={{ $json.action }}","rightValue":"health_check","operator":{"type":"string","operation":"equals","name":"operator"}}]},{"value":"create_agent","output":1,"conditions":[{"id":"d2d95982-ba6d-4841-95b5-04b837d3ed38","leftValue":"={{ $json.action }}","rightValue":"create_agent","operator":{"type":"string","operation":"equals","name":"operator"}}]},{"value":"execute_task","output":2,"conditions":[{"id":"10e43895-c480-4d95-90c6-8d64ac0aa179","leftValue":"={{ $json.action }}","rightValue":"execute_task","operator":{"type":"string","operation":"equals","name":"operator"}}]},{"value":"evaluate_agent","output":3,"conditions":[{"id":"1d4500cf-695b-471c-8135-977ceb12778e","leftValue":"={{ $json.action }}","rightValue":"evaluate_agent","operator":{"type":"string","operation":"equals","name":"operator"}}]},{"value":"evolve_agent","output":4,"conditions":[{"id":"b9c09732-0a95-4bfc-a22c-1e6d25ec08d8","leftValue":"={{ $json.action }}","rightValue":"evolve_agent","operator":{"type":"string","operation":"equals","name":"operator"}}]},{"value":"registry_sync","output":5,"conditions":[{"id":"0e25647d-1c2c-4269-90bd-58bd9bd2856b","leftValue":"={{ $json.action }}","rightValue":"registry_sync","operator":{"type":"string","operation":"equals","name":"operator"}}]},{"value":"telemetry_log","output":6,"conditions":[{"id":"f81f9dc1-c337-431b-b3e1-d8cf8342380f","leftValue":"={{ $json.action }}","rightValue":"telemetry_log","operator":{"type":"string","operation":"equals","name":"operator"}}]},{"value":"list_agents","output":7,"conditions":[{"id":"e3a43734-5d88-4aa3-ace7-416d47b2050b","leftValue":"={{ $json.action }}","rightValue":"list_agents","operator":{"type":"string","operation":"equals","name":"operator"}}]},{"value":"get_agent","output":8,"conditions":[{"id":"1bef481d-75ad-489c-941a-f497106dd774","leftValue":"={{ $json.action }}","rightValue":"get_agent","operator":{"type":"string","operation":"equals","name":"operator"}}]},{"value":"update_agent_status","output":9,"conditions":[{"id":"72afef64-bbbb-4940-a570-4d4a658336b3","leftValue":"={{ $json.action }}","rightValue":"update_agent_status","operator":{"type":"string","operation":"equals","name":"operator"}}]}]},"options":{"fallbackOutput":"extra"}}},
    {"id":"43adc45a-141f-4500-8b0c-0c8603891317","name":"Code — Build Health Check Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[50,2200],"parameters":{"mode":"runOnceForAllItems","jsCode":"const normalized = $('Code — Normalize Command').first().json;\nconst ts = new Date().toISOString();\nreturn [{ json: {\n  ok: true,\n  kernel_version: 'v0.2.0',\n  trace_id: normalized.trace_id,\n  command_id: normalized.command_id,\n  action: 'health_check',\n  run_mode: normalized.run_mode,\n  approval_status: normalized.approval_status,\n  system: 'S/ AgentOS',\n  status: 'online',\n  timestamp: ts,\n  supported_actions: ['health_check','create_agent','execute_task','evaluate_agent','evolve_agent','registry_sync','telemetry_log','list_agents','get_agent','update_agent_status']\n}}];"}},
    {"id":"ee90d01f-4fe1-462a-8374-44cb32ccbbe3","name":"Supabase — Log Health Check Event","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[50,2400],"credentials":{"supabaseApi":{"name":"Supabase API"}},"parameters":{"tableId":"os_events","operation":"insert","fieldsUi":{"fieldValues":[{"fieldId":"event_type","fieldValue":"health_check"},{"fieldId":"source","fieldValue":"command_gateway"},{"fieldId":"severity","fieldValue":"info"},{"fieldId":"command_id","fieldValue":"={{ $('Code — Normalize Command').first().json.command_id }}"},{"fieldId":"agent_id","fieldValue":"={{ $('Code — Normalize Command').first().json.agent_id }}"},{"fieldId":"payload","fieldValue":"{\"route\": \"health_check\"}"},{"fieldId":"metadata","fieldValue":"{\"version\": \"0.2.0\"}"}]},"additionalFields":{}}},
    {"id":"1e090a41-136b-4e26-a237-62a4ae4df106","name":"Code — Restore Health Check Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[50,2600],"parameters":{"mode":"runOnceForAllItems","jsCode":"const resp = $('Code — Build Health Check Response').first().json;\nreturn [{ json: resp }];"}},
    {"id":"15965adb-ca69-4039-ba3a-24a286ebf37f","name":"Respond to Webhook — Health Check","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[50,2800],"parameters":{"options":{},"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"}},
    {"id":"f9eac90e-4be8-473a-8d85-57ab0cf9ed1d","name":"Code — Build Create Agent Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[250,2200],"parameters":{"mode":"runOnceForAllItems","jsCode":"const normalized = $('Code — Normalize Command').first().json;\nconst ctx = normalized.context || {};\nconst agent_design = {\n  agent_code: 'ag_' + Date.now() + '_' + Math.random().toString(36).substring(2, 8),\n  proposed_agent_name: ctx.proposed_agent_name || 'New Agent',\n  agent_type: ctx.agent_type || 'general',\n  purpose: ctx.purpose || 'TBD',\n  responsibilities: ctx.responsibilities || [],\n  inputs: ctx.inputs || [],\n  outputs: ctx.outputs || [],\n  tools_required: ctx.tools_required || [],\n  memory_required: ctx.memory_required || {},\n  evaluation_metrics: ctx.evaluation_metrics || [],\n  proposed_model: ctx.proposed_model || 'gpt-4',\n  estimated_cost_tier: ctx.estimated_cost_tier || 'medium'\n};\nreturn [{ json: {\n  ok: true,\n  route: 'create_agent',\n  command_id: normalized.command_id,\n  agent_design: agent_design,\n  next_step: 'awaiting_deployment'\n}}];"}},
    {"id":"312d4bd7-a937-4451-89b2-36870251ed47","name":"Supabase — Log Agent Design Event","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[250,2350],"credentials":{"supabaseApi":{"name":"Supabase API"}},"parameters":{"tableId":"os_events","operation":"insert","fieldsUi":{"fieldValues":[{"fieldId":"event_type","fieldValue":"agent_design_created"},{"fieldId":"source","fieldValue":"command_gateway"},{"fieldId":"severity","fieldValue":"info"},{"fieldId":"command_id","fieldValue":"={{ $('Code — Normalize Command').first().json.command_id }}"},{"fieldId":"agent_id","fieldValue":"={{ $('Code — Build Create Agent Response').first().json.agent_design.agent_code }}"},{"fieldId":"payload","fieldValue":"={{ JSON.stringify($('Code — Build Create Agent Response').first().json.agent_design) }}"},{"fieldId":"metadata","fieldValue":"{\"version\": \"0.2.0\"}"}]},"additionalFields":{}}},
    {"id":"51568440-1bed-465b-badf-254428119a66","name":"Supabase — Insert Draft Agent to Registry","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[250,2500],"credentials":{"supabaseApi":{"name":"Supabase API"}},"parameters":{"tableId":"agent_registry","operation":"insert","fieldsUi":{"fieldValues":[{"fieldId":"agent_code","fieldValue":"={{ $('Code — Build Create Agent Response').first().json.agent_design.agent_code }}"},{"fieldId":"agent_name","fieldValue":"={{ $('Code — Build Create Agent Response').first().json.agent_design.proposed_agent_name }}"},{"fieldId":"agent_type","fieldValue":"={{ $('Code — Build Create Agent Response').first().json.agent_design.agent_type }}"},{"fieldId":"purpose","fieldValue":"={{ $('Code — Build Create Agent Response').first().json.agent_design.purpose }}"},{"fieldId":"responsibilities","fieldValue":"={{ JSON.stringify($('Code — Build Create Agent Response').first().json.agent_design.responsibilities) }}"},{"fieldId":"inputs","fieldValue":"={{ JSON.stringify($('Code — Build Create Agent Response').first().json.agent_design.inputs) }}"},{"fieldId":"outputs","fieldValue":"={{ JSON.stringify($('Code — Build Create Agent Response').first().json.agent_design.outputs) }}"},{"fieldId":"tools_required","fieldValue":"={{ JSON.stringify($('Code — Build Create Agent Response').first().json.agent_design.tools_required) }}"},{"fieldId":"memory_required","fieldValue":"={{ JSON.stringify($('Code — Build Create Agent Response').first().json.agent_design.memory_required) }}"},{"fieldId":"evaluation_metrics","fieldValue":"={{ JSON.stringify($('Code — Build Create Agent Response').first().json.agent_design.evaluation_metrics) }}"},{"fieldId":"deployment_status","fieldValue":"draft"},{"fieldId":"lifecycle_status","fieldValue":"active"},{"fieldId":"version","fieldValue":"0.1"},{"fieldId":"owner","fieldValue":"={{ $('Code — Normalize Command').first().json.requested_by }"}]},"additionalFields":{}}},
    {"id":"9874325f-06e8-4ce9-a3a7-8de4bde54a83","name":"Code — Restore Create Agent Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[250,2650],"parameters":{"mode":"runOnceForAllItems","jsCode":"const resp = $('Code — Build Create Agent Response').first().json;\nreturn [{ json: resp }];"}},
    {"id":"705e597a-fa6c-40df-9d95-b837134dd928","name":"Respond to Webhook — Create Agent","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[250,2800],"parameters":{"options":{},"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"}},
    {"id":"1ecdd2d9-4d06-4800-8265-8dc1737ff9d3","name":"Code — Build Execute Task Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,2200],"parameters":{"mode":"runOnceForAllItems","jsCode":"const normalized = $('Code — Normalize Command').first().json;\nconst ctx = normalized.context || {};\nconst execution_plan = {\n  task_summary: normalized.objective,\n  required_agent_type: ctx.domain ? ctx.domain.replace(/\\s+/g, '_').toLowerCase() + '_agent' : 'general_agent',\n  required_tools: ['data_collection','analysis','output_generation'],\n  execution_steps: ['1. Receive and parse task objective','2. Identify required agent capabilities','3. Gather necessary inputs and context','4. Execute task logic','5. Validate output against requirements','6. Return structured result to operator'],\n  expected_output: ctx.output_format || 'Structured execution report with findings and recommendations',\n  human_approval_required: true\n};\nreturn [{ json: {\n  ok: true,\n  route: 'task_execution',\n  command_id: normalized.command_id,\n  execution_plan: execution_plan\n}}];"}},
    {"id":"883e6580-0063-416d-83c5-6ff5c1b2b3c4","name":"Supabase — Log Task Plan Event","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[450,2400],"credentials":{"supabaseApi":{"name":"Supabase API"}},"parameters":{"tableId":"os_events","operation":"insert","fieldsUi":{"fieldValues":[{"fieldId":"event_type","fieldValue":"task_planned"},{"fieldId":"source","fieldValue":"command_gateway"},{"fieldId":"severity","fieldValue":"info"},{"fieldId":"command_id","fieldValue":"={{ $('Code — Normalize Command').first().json.command_id }}"},{"fieldId":"agent_id","fieldValue":"={{ $('Code — Normalize Command').first().json.agent_id }}"},{"fieldId":"payload","fieldValue":"={{ JSON.stringify($('Code — Build Execute Task Response').first().json.plan) }}"},{"fieldId":"metadata","fieldValue":"{\"version\": \"0.2.0\"}"}]},"additionalFields":{}}},
    {"id":"5ab0084a-59cd-4cc8-a974-ed263cea6973","name":"Code — Restore Execute Task Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,2600],"parameters":{"mode":"runOnceForAllItems","jsCode":"const resp = $('Code — Build Execute Task Response').first().json;\nreturn [{ json: resp }];"}},
    {"id":"854a5386-300d-4fb7-9408-2547acae09da","name":"Respond to Webhook — Execute Task","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[450,2800],"parameters":{"options":{},"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"}},
    {"id":"c84fc149-f83e-410c-9ffe-071f0a4387f0","name":"Code — Build Evaluate Agent Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[650,2200],"parameters":{"mode":"runOnceForAllItems","jsCode":"const normalized = $('Code — Normalize Command').first().json;\nconst ctx = normalized.context || {};\nconst evaluation_plan = {\n  agent_id: normalized.agent_id || 'pending',\n  evaluation_dimensions: ['task_accuracy','output_quality','response_time','resource_efficiency','error_rate'],\n  scoring_method: 'weighted_average_0_to_1',\n  required_test_cases: ['basic_task_execution','edge_case_handling','error_recovery','output_format_compliance'],\n  pass_fail_threshold: 'minimum_score_required',\n  minimum_score_required: 0.8\n};\nreturn [{ json: {\n  ok: true,\n  route: 'agent_evaluation',\n  command_id: normalized.command_id,\n  evaluation_plan: evaluation_plan\n}}];"}},
    {"id":"841f0208-7bbf-43bc-af40-c3cbafc35d22","name":"Supabase — Log Evaluation Plan Event","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[650,2400],"credentials":{"supabaseApi":{"name":"Supabase API"}},"parameters":{"tableId":"os_events","operation":"insert","fieldsUi":{"fieldValues":[{"fieldId":"event_type","fieldValue":"evaluation_planned"},{"fieldId":"source","fieldValue":"command_gateway"},{"fieldId":"severity","fieldValue":"info"},{"fieldId":"command_id","fieldValue":"={{ $('Code — Normalize Command').first().json.command_id }}"},{"fieldId":"agent_id","fieldValue":"={{ $('Code — Normalize Command').first().json.agent_id }}"},{"fieldId":"payload","fieldValue":"={{ JSON.stringify($('Code — Build Evaluate Agent Response').first().json.evaluation) }}"},{"fieldId":"metadata","fieldValue":"{\"version\": \"0.2.0\"}"}]},"additionalFields":{}}},
    {"id":"fea100af-ae71-4cca-a45d-66db05e5bbb3","name":"Code — Restore Evaluate Agent Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[650,2600],"parameters":{"mode":"runOnceForAllItems","jsCode":"const resp = $('Code — Build Evaluate Agent Response').first().json;\nreturn [{ json: resp }];"}},
    {"id":"737da14d-07e2-49de-9ecd-160f601e67a3","name":"Respond to Webhook — Evaluate Agent","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[650,2800],"parameters":{"options":{},"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"}},
    {"id":"3f0f19f6-7a00-47b7-b574-0f6bb1f699b2","name":"Code — Build Evolve Agent Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[850,2200],"parameters":{"mode":"runOnceForAllItems","jsCode":"const normalized = $('Code — Normalize Command').first().json;\nconst ctx = normalized.context || {};\nconst evolution_plan = {\n  target_agent: normalized.agent_id || ctx.target_agent || 'unspecified',\n  detected_gap: ctx.detected_gap || 'performance_degradation',\n  proposed_improvement: ctx.proposed_improvement || 'Retrain with expanded dataset',\n  data_needed: ctx.data_needed || ['conversation_logs','error_patterns'],\n  workflow_changes_needed: ctx.workflow_changes_needed || ['update_prompt_template'],\n  risk_level: ctx.risk_level || 'medium',\n  rollback_plan: ctx.rollback_plan || 'Revert to previous version via registry rollback',\n  estimated_effort: ctx.estimated_effort || '2_hours',\n  approval_required: ctx.approval_required !== false\n};\nreturn [{ json: {\n  ok: true,\n  route: 'evolution_engine',\n  command_id: normalized.command_id,\n  evolution_plan: evolution_plan,\n  status: 'evolution_pending_approval'\n}}];"}},
    {"id":"c758fb10-7f13-47cd-93d6-84e0ccc8a520","name":"Supabase — Store Evolution Plan","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[850,2325],"credentials":{"supabaseApi":{"name":"Supabase API"}},"parameters":{"tableId":"evolution_plans","operation":"insert","fieldsUi":{"fieldValues":[{"fieldId":"agent_id","fieldValue":"={{ $('Code — Normalize Command').first().json.agent_id }}"},{"fieldId":"command_id","fieldValue":"={{ $('Code — Normalize Command').first().json.command_id }}"},{"fieldId":"detected_gap","fieldValue":"={{ $('Code — Build Evolve Agent Response').first().json.evolution_plan.detected_gap }}"},{"fieldId":"proposed_improvement","fieldValue":"={{ $('Code — Build Evolve Agent Response').first().json.evolution_plan.proposed_improvement }}"},{"fieldId":"data_needed","fieldValue":"={{ JSON.stringify($('Code — Build Evolve Agent Response').first().json.evolution_plan.data_needed) }}"},{"fieldId":"workflow_changes_needed","fieldValue":"={{ JSON.stringify($('Code — Build Evolve Agent Response').first().json.evolution_plan.workflow_changes_needed) }}"},{"fieldId":"risk_level","fieldValue":"={{ $('Code — Build Evolve Agent Response').first().json.evolution_plan.risk_level }}"},{"fieldId":"rollback_plan","fieldValue":"={{ $('Code — Build Evolve Agent Response').first().json.evolution_plan.rollback_plan }}"},{"fieldId":"approval_status","fieldValue":"pending"},{"fieldId":"status","fieldValue":"draft"}]},"additionalFields":{}}},
    {"id":"32c75703-a8dc-45bc-a007-8d713fc4d58e","name":"Supabase — Log Evolution Event","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[850,2450],"credentials":{"supabaseApi":{"name":"Supabase API"}},"parameters":{"tableId":"os_events","operation":"insert","fieldsUi":{"fieldValues":[{"fieldId":"event_type","fieldValue":"evolution_planned"},{"fieldId":"source","fieldValue":"command_gateway"},{"fieldId":"severity","fieldValue":"info"},{"fieldId":"command_id","fieldValue":"={{ $('Code — Normalize Command').first().json.command_id }}"},{"fieldId":"agent_id","fieldValue":"={{ $('Code — Normalize Command').first().json.agent_id }}"},{"fieldId":"payload","fieldValue":"={{ JSON.stringify($('Code — Build Evolve Agent Response').first().json.evolution_plan) }}"},{"fieldId":"metadata","fieldValue":"{\"version\": \"0.2.0\"}"}]},"additionalFields":{}}},
    {"id":"96173c34-9e35-43f2-9b96-5b1b64a84fe6","name":"Code — Restore Evolve Agent Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[850,2575],"parameters":{"mode":"runOnceForAllItems","jsCode":"const resp = $('Code — Build Evolve Agent Response').first().json;\nreturn [{ json: resp }];"}},
    {"id":"f39a057a-321d-4794-9f25-15d8a14241d6","name":"Respond to Webhook — Evolve Agent","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[850,2700],"parameters":{"options":{},"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"}},
    {"id":"69c2b19b-5524-420f-bbf4-05cde43fd9bf","name":"Code — Build Registry Sync Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1050,2200],"parameters":{"mode":"runOnceForAllItems","jsCode":"const normalized = $('Code — Normalize Command').first().json;\nconst registry_status = {\n  status: 'synced',\n  recommended_structure: ['agent_registry: master list of all agents','agent_runs: execution history','eval_results: performance evaluations','evolution_plans: improvement tracking'],\n  next_actions: ['Verify all agent records are current','Review pending evaluations','Check evolution plans requiring approval']\n};\nreturn [{ json: {\n  ok: true,\n  route: 'registry_sync',\n  command_id: normalized.command_id,\n  registry_status: registry_status\n}}];"}},
    {"id":"76362fc8-b91d-4bcf-bc27-32d39d9536b3","name":"Supabase — Log Registry Sync Event","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1050,2400],"credentials":{"supabaseApi":{"name":"Supabase API"}},"parameters":{"tableId":"os_events","operation":"insert","fieldsUi":{"fieldValues":[{"fieldId":"event_type","fieldValue":"registry_sync_planned"},{"fieldId":"source","fieldValue":"command_gateway"},{"fieldId":"severity","fieldValue":"info"},{"fieldId":"command_id","fieldValue":"={{ $('Code — Normalize Command').first().json.command_id }}"},{"fieldId":"agent_id","fieldValue":"={{ $('Code — Normalize Command').first().json.agent_id }}"},{"fieldId":"payload","fieldValue":"={{ JSON.stringify($('Code — Build Registry Sync Response').first().json.sync_plan) }}"},{"fieldId":"metadata","fieldValue":"{\"version\": \"0.2.0\"}"}]},"additionalFields":{}}},
    {"id":"9e67e438-1bcd-4367-8e9d-9b1ceb1780d5","name":"Code — Restore Registry Sync Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1050,2600],"parameters":{"mode":"runOnceForAllItems","jsCode":"const resp = $('Code — Build Registry Sync Response').first().json;\nreturn [{ json: resp }];"}},
    {"id":"02c687af-a2e1-49fa-9736-49a0104fea87","name":"Respond to Webhook — Registry Sync","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1050,2800],"parameters":{"options":{},"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"}},
    {"id":"69dd9e93-90b6-4bb7-8b3e-ff15da683581","name":"Code — Build Telemetry Log Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1250,2200],"parameters":{"mode":"runOnceForAllItems","jsCode":"const normalized = $('Code — Normalize Command').first().json;\nconst ctx = normalized.context || {};\nconst event_type = ctx.event_type || 'telemetry_event';\nreturn [{ json: {\n  ok: true,\n  route: 'telemetry',\n  kernel_version: 'v0.2.0',\n  trace_id: normalized.trace_id,\n  command_id: normalized.command_id,\n  telemetry_status: 'accepted',\n  event_type: event_type\n}}];"}},
    {"id":"4e190d53-01b5-4f55-8829-274e572ab57e","name":"Supabase — Log Telemetry Event","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1250,2400],"credentials":{"supabaseApi":{"name":"Supabase API"}},"parameters":{"tableId":"os_events","operation":"insert","fieldsUi":{"fieldValues":[{"fieldId":"event_type","fieldValue":"={{ $('Code — Build Telemetry Log Response').first().json.event_type }}"},{"fieldId":"source","fieldValue":"telemetry"},{"fieldId":"severity","fieldValue":"info"},{"fieldId":"command_id","fieldValue":"={{ $('Code — Normalize Command').first().json.command_id }}"},{"fieldId":"agent_id","fieldValue":"={{ $('Code — Normalize Command').first().json.agent_id }}"},{"fieldId":"payload","fieldValue":"={{ JSON.stringify($('Code — Build Telemetry Log Response').first().json.telemetry) }}"},{"fieldId":"metadata","fieldValue":"{\"version\": \"0.2.0\"}"}]},"additionalFields":{}}},
    {"id":"bb144421-9f3b-444a-938a-ee19d06e5d16","name":"Code — Restore Telemetry Log Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1250,2600],"parameters":{"mode":"runOnceForAllItems","jsCode":"const resp = $('Code — Build Telemetry Log Response').first().json;\nreturn [{ json: resp }];"}},
    {"id":"e101925e-bf12-40cf-a03e-6f28ad536554","name":"Respond to Webhook — Telemetry Log","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1250,2800],"parameters":{"options":{},"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"}},
    {"id":"57a617b6-e718-4b8f-af8e-2f037d45a790","name":"Supabase — Query All Agents","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1450,2200],"credentials":{"supabaseApi":{"name":"Supabase API"}},"parameters":{"tableId":"agent_registry","operation":"select","returnAll":true,"filters":{},"additionalFields":{}}},
    {"id":"e7ec9dec-c419-4eca-bcdf-c57150dd0695","name":"Code — Build List Agents Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1450,2400],"parameters":{"mode":"runOnceForAllItems","jsCode":"const allItems = $input.all();\nconst agents = allItems.map(item => item.json);\nconst normalized = $('Code — Normalize Command').first().json;\nreturn [{ json: {\n  ok: true,\n  route: 'agent_registry',\n  command_id: normalized.command_id,\n  agents: agents,\n  count: agents.length\n}}];"}},
    {"id":"891c4b3c-a17f-44aa-b542-21d31f293f95","name":"Respond to Webhook — List Agents","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1450,2600],"parameters":{"options":{},"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"}},
    {"id":"8327b6eb-c2b5-41a7-a420-13cf51c241e1","name":"Supabase — Get Agent by Code","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1650,2200],"credentials":{"supabaseApi":{"name":"Supabase API"}},"parameters":{"tableId":"agent_registry","operation":"select","returnAll":false,"filters":{"conditions":[{"id":"0b40eeae-d4bb-44ef-8b8d-c604c26f3157","column":"agent_code","operator":{"type":"string","operation":"equals","name":"operator"},"value":"={{ $('Code — Normalize Command').first().json.agent_id }}"}]},"additionalFields":{}}},
    {"id":"9133228b-c23c-42ca-b5a5-061138acc783","name":"Code — Build Get Agent Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1650,2400],"parameters":{"mode":"runOnceForAllItems","jsCode":"const items = $input.all();\nconst agent = items.length > 0 ? items[0].json : null;\nconst normalized = $('Code — Normalize Command').first().json;\nreturn [{ json: {\n  ok: true,\n  route: 'agent_registry',\n  command_id: normalized.command_id,\n  agent: agent || {},\n  found: !!agent\n}}];"}},
    {"id":"3e501c40-7eb4-4fee-bc26-07d1aa61080f","name":"Respond to Webhook — Get Agent","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1650,2600],"parameters":{"options":{},"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"}},
    {"id":"258cd220-3bb3-47d4-a65d-b37362f42f45","name":"Code — Build Update Status Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1850,2200],"parameters":{"mode":"runOnceForAllItems","jsCode":"const normalized = $('Code — Normalize Command').first().json;\nconst ctx = normalized.context || {};\nconst newStatus = ctx.new_status || 'pending';\nreturn [{ json: {\n  ok: true,\n  route: 'agent_registry',\n  command_id: normalized.command_id,\n  agent_id: normalized.agent_id || 'unknown',\n  new_status: newStatus,\n  updated: true\n}}];"}},
    {"id":"4532bae0-f77e-4b6a-a6aa-c75ad3bef6e2","name":"Supabase — Update Agent Status","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1850,2325],"credentials":{"supabaseApi":{"name":"Supabase API"}},"parameters":{"tableId":"agent_registry","operation":"update","filters":{"conditions":[{"id":"9053b88e-3cf6-4e49-8176-21b4178e1a94","column":"agent_code","operator":{"type":"string","operation":"equals","name":"operator"},"value":"={{ $('Code — Normalize Command').first().json.agent_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"lifecycle_status","fieldValue":"={{ $('Code — Normalize Command').first().json.context.new_status || 'inactive' }"}]},"additionalFields":{}}},
    {"id":"164e7d5b-d30f-43c6-a3d0-f3479125beae","name":"Supabase — Log Status Update Event","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1850,2450],"credentials":{"supabaseApi":{"name":"Supabase API"}},"parameters":{"tableId":"os_events","operation":"insert","fieldsUi":{"fieldValues":[{"fieldId":"event_type","fieldValue":"agent_status_updated"},{"fieldId":"source","fieldValue":"command_gateway"},{"fieldId":"severity","fieldValue":"info"},{"fieldId":"command_id","fieldValue":"={{ $('Code — Normalize Command').first().json.command_id }}"},{"fieldId":"agent_id","fieldValue":"={{ $('Code — Normalize Command').first().json.agent_id }}"},{"fieldId":"payload","fieldValue":"={{ JSON.stringify({ new_status: $('Code — Normalize Command').first().json.context.new_status || 'inactive' }) }}"},{"fieldId":"metadata","fieldValue":"{\"version\": \"0.2.0\"}"}]},"additionalFields":{}}},
    {"id":"8087c384-c4a5-4c01-a84c-42ea229c9d42","name":"Code — Restore Update Status Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1850,2575],"parameters":{"mode":"runOnceForAllItems","jsCode":"const resp = $('Code — Build Update Status Response').first().json;\nreturn [{ json: resp }];"}},
    {"id":"2b89ba20-b703-441c-97e6-e201c00fccf9","name":"Respond to Webhook — Update Status","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1850,2700],"parameters":{"options":{},"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"}},
    {"id":"cc6523d5-74d0-4ce4-8aa8-7c2c03d56668","name":"Code — Build Unsupported Action Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2050,2200],"parameters":{"mode":"runOnceForAllItems","jsCode":"const normalized = $('Code — Normalize Command').first().json;\nreturn [{ json: {\n  ok: false,\n  error: 'Unsupported Action',\n  message: 'The action \"' + normalized.action + '\" is not supported by this gateway',\n  code: 400,\n  command_id: normalized.command_id,\n  supported_actions: ['health_check','create_agent','execute_task','evaluate_agent','evolve_agent','registry_sync','telemetry_log','list_agents','get_agent','update_agent_status']\n}}];"}},
    {"id":"556bff10-ab7a-4355-8f04-be285e82d178","name":"Respond to Webhook — Unsupported Action","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2050,2400],"parameters":{"options":{"responseCode":400},"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}"}}
  ],
  "connections": {
    "Webhook — Command Entry": {"main": [[{"node": "Code — Extract & Validate Auth", "type": "main", "index": 0}]]},
    "Code — Extract & Validate Auth": {"main": [[{"node": "IF — Auth Check", "type": "main", "index": 0}]]},
    "IF — Auth Check": {"main": [[{"node": "Code — Extract & Validate Payload", "type": "main", "index": 0}], [{"node": "Code — Build Auth Error Response", "type": "main", "index": 0}]]},
    "Code — Build Auth Error Response": {"main": [[{"node": "Respond to Webhook — Auth Error", "type": "main", "index": 0}]]},
    "Code — Extract & Validate Payload": {"main": [[{"node": "IF — Validation Check", "type": "main", "index": 0}]]},
    "IF — Validation Check": {"main": [[{"node": "Code — Normalize Command", "type": "main", "index": 0}], [{"node": "Code — Build Validation Error Response", "type": "main", "index": 0}]]},
    "Code — Build Validation Error Response": {"main": [[{"node": "Respond to Webhook — Validation Error", "type": "main", "index": 0}]]},
    "Code — Normalize Command": {"main": [[{"node": "Supabase — Log Command to os_commands", "type": "main", "index": 0}]]},
    "Supabase — Log Command to os_commands": {"main": [[{"node": "Supabase — Log Command Received Event to os_events", "type": "main", "index": 0}]]},
    "Supabase — Log Command Received Event to os_events": {"main": [[{"node": "Code — Restore Context for Routing", "type": "main", "index": 0}]]},
    "Code — Restore Context for Routing": {"main": [[{"node": "Switch — Route by Action", "type": "main", "index": 0}]]},
    "Switch — Route by Action": {"main": [[{"node": "Code — Build Health Check Response", "type": "main", "index": 0}], [{"node": "Code — Build Create Agent Response", "type": "main", "index": 0}], [{"node": "Code — Build Execute Task Response", "type": "main", "index": 0}], [{"node": "Code — Build Evaluate Agent Response", "type": "main", "index": 0}], [{"node": "Code — Build Evolve Agent Response", "type": "main", "index": 0}], [{"node": "Code — Build Registry Sync Response", "type": "main", "index": 0}], [{"node": "Code — Build Telemetry Log Response", "type": "main", "index": 0}], [{"node": "Supabase — Query All Agents", "type": "main", "index": 0}], [{"node": "Supabase — Get Agent by Code", "type": "main", "index": 0}], [{"node": "Code — Build Update Status Response", "type": "main", "index": 0}], [{"node": "Code — Build Unsupported Action Response", "type": "main", "index": 0}]]},
    "Code — Build Health Check Response": {"main": [[{"node": "Supabase — Log Health Check Event", "type": "main", "index": 0}]]},
    "Supabase — Log Health Check Event": {"main": [[{"node": "Code — Restore Health Check Response", "type": "main", "index": 0}]]},
    "Code — Restore Health Check Response": {"main": [[{"node": "Respond to Webhook — Health Check", "type": "main", "index": 0}]]},
    "Code — Build Create Agent Response": {"main": [[{"node": "Supabase — Log Agent Design Event", "type": "main", "index": 0}]]},
    "Supabase — Log Agent Design Event": {"main": [[{"node": "Supabase — Insert Draft Agent to Registry", "type": "main", "index": 0}]]},
    "Supabase — Insert Draft Agent to Registry": {"main": [[{"node": "Code — Restore Create Agent Response", "type": "main", "index": 0}]]},
    "Code — Restore Create Agent Response": {"main": [[{"node": "Respond to Webhook — Create Agent", "type": "main", "index": 0}]]},
    "Code — Build Execute Task Response": {"main": [[{"node": "Supabase — Log Task Plan Event", "type": "main", "index": 0}]]},
    "Supabase — Log Task Plan Event": {"main": [[{"node": "Code — Restore Execute Task Response", "type": "main", "index": 0}]]},
    "Code — Restore Execute Task Response": {"main": [[{"node": "Respond to Webhook — Execute Task", "type": "main", "index": 0}]]},
    "Code — Build Evaluate Agent Response": {"main": [[{"node": "Supabase — Log Evaluation Plan Event", "type": "main", "index": 0}]]},
    "Supabase — Log Evaluation Plan Event": {"main": [[{"node": "Code — Restore Evaluate Agent Response", "type": "main", "index": 0}]]},
    "Code — Restore Evaluate Agent Response": {"main": [[{"node": "Respond to Webhook — Evaluate Agent", "type": "main", "index": 0}]]},
    "Code — Build Evolve Agent Response": {"main": [[{"node": "Supabase — Store Evolution Plan", "type": "main", "index": 0}]]},
    "Supabase — Store Evolution Plan": {"main": [[{"node": "Supabase — Log Evolution Event", "type": "main", "index": 0}]]},
    "Supabase — Log Evolution Event": {"main": [[{"node": "Code — Restore Evolve Agent Response", "type": "main", "index": 0}]]},
    "Code — Restore Evolve Agent Response": {"main": [[{"node": "Respond to Webhook — Evolve Agent", "type": "main", "index": 0}]]},
    "Code — Build Registry Sync Response": {"main": [[{"node": "Supabase — Log Registry Sync Event", "type": "main", "index": 0}]]},
    "Supabase — Log Registry Sync Event": {"main": [[{"node": "Code — Restore Registry Sync Response", "type": "main", "index": 0}]]},
    "Code — Restore Registry Sync Response": {"main": [[{"node": "Respond to Webhook — Registry Sync", "type": "main", "index": 0}]]},
    "Code — Build Telemetry Log Response": {"main": [[{"node": "Supabase — Log Telemetry Event", "type": "main", "index": 0}]]},
    "Supabase — Log Telemetry Event": {"main": [[{"node": "Code — Restore Telemetry Log Response", "type": "main", "index": 0}]]},
    "Code — Restore Telemetry Log Response": {"main": [[{"node": "Respond to Webhook — Telemetry Log", "type": "main", "index": 0}]]},
    "Supabase — Query All Agents": {"main": [[{"node": "Code — Build List Agents Response", "type": "main", "index": 0}]]},
    "Code — Build List Agents Response": {"main": [[{"node": "Respond to Webhook — List Agents", "type": "main", "index": 0}]]},
    "Supabase — Get Agent by Code": {"main": [[{"node": "Code — Build Get Agent Response", "type": "main", "index": 0}]]},
    "Code — Build Get Agent Response": {"main": [[{"node": "Respond to Webhook — Get Agent", "type": "main", "index": 0}]]},
    "Code — Build Update Status Response": {"main": [[{"node": "Supabase — Update Agent Status", "type": "main", "index": 0}]]},
    "Supabase — Update Agent Status": {"main": [[{"node": "Supabase — Log Status Update Event", "type": "main", "index": 0}]]},
    "Supabase — Log Status Update Event": {"main": [[{"node": "Code — Restore Update Status Response", "type": "main", "index": 0}]]},
    "Code — Restore Update Status Response": {"main": [[{"node": "Respond to Webhook — Update Status", "type": "main", "index": 0}]]},
    "Code — Build Unsupported Action Response": {"main": [[{"node": "Respond to Webhook — Unsupported Action", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "570784c9-13d9-4d94-ada4-3643eb530394"
}
